@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.loading {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 8px solid #0000004d;
    border-top: 8px solid transparent;
    animation: loading 1s infinite ease-in-out;
}

